<header>
  <div class="container">
    <p>
      <span>index of Cloud &#128048;</span>
      <span><%= link_to image_tag('kokoa.jpg', :style => 'width: 100px;'), asset_path('kokoa2.jpg') %></span>
      <span><%= image_tag('chino.jpg', :style => 'width: 100px;') %></span>
      <span><%= image_tag('rize2.jpg', :style => 'width: 100px;') %></span>
      <span><%= image_tag('chiya.jpg', :style => 'width: 100px;') %></span>
      <span><%= image_tag('syaro2.jpg', :style => 'width: 100px;') %></span>
    </p>
  </div>
</header>
